*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Overpass";
  src: url("./Overpass/Overpass-VariableFont_wght.ttf") format('truetype');
}


body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Overpass';
}

.rating__component{
  background-image: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  padding-block: 1em;
  padding-inline: 2em;
  width: clamp(400px, 25vw, 450px);
  border-radius: 1.5em;
}

.star__img{
  background: hsl(213, 19%, 18%);
  padding: 1.15em;
  border-radius: 50%;
  margin-block-end: 1.5em;
}

.text{
  color: hsl(217, 12%, 63%);
  margin-block: 1.5em;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-block-end: 2.5em;
}

a{
  text-decoration: none;
  color: white;
}

.rating__btn {
  width: 3.25em;
  height: 3.25em;
  display:flex;
  align-items:center;
  justify-content: center;
  background: hsl(213, 19%, 18%);
  border-radius: 50%; 
  transition: 0.2s ease-in-out;
}


.rating__btn:hover{
  background-color: hsl(0, 100%, 100%);
  cursor: pointer;
  color: hsl(216, 12%, 8%);
}



.submit{
  background:hsl(25, 97%, 53%);
  text-align: center;
  padding-block: 0.8em;
  display: block;
  border-radius: 2em;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.submit:hover{
  letter-spacing:0.1em;
  background-color: hsl(0, 100%, 100%);
  color: hsl(216, 12%, 8%);
  cursor: pointer;
}

/* This is test coode! */
.box{
  position: absolute;
  background-color: white;
  width: 400px;
  height: 400px;
  display: none;
}